<div class="card">
  <div class="card-header">
    <h5 class="card-category">Team Micro App</h5>
    <h3 class="card-title">4-3-2-1</h3>
  </div>
  <div class="card-body" id="playerLoader">
    <div class="framework">
      <img alt="..." src="assets/img/javascript.png" />
    </div>
    <div class="row">
      <div class="col-12">
        <soccer-player name="Kavin" number="7"></soccer-player>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
      <div class="col-6">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
      <div class="col-4">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
      <div class="col-4">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
      <div class="col-3">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
      <div class="col-3">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
      <div class="col-3">
        <soccer-player name="Johnson" number="7"></soccer-player>
      </div>
    </div>
  </div>
</div>
