span.badge {
    height: 25px;
    line-height: 20px;
    font-size: 16px;
    margin: 0 20px;
    position: relative;
    top: -2px;
}
a.btn.btn-simple.btn-sm {
    margin: 0 10px;
}
.stadium{
    font-size: 14px;
    margin-bottom: 10px;
}
.formations__field {
    background: url(https://a.espncdn.com/redesign/assets/img/formations/ukcom-soccer-field-001.svg) 0 0 no-repeat;
    display: block;
    height: 278px;
    width: 421px;
}
