<table class="table">
    <thead>
      <tr>
        <th width="100px">Pos</th>
        <th>Team</th>
        <th>P</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>DEV FC</td>
        <td>10</td>
        <td>8</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>DEV FC</td>
        <td>10</td>
        <td>8</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>DEV FC</td>
        <td>10</td>
        <td>8</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>DEV FC</td>
        <td>10</td>
        <td>8</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>DEV FC</td>
        <td>10</td>
        <td>8</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>