.navPills {
  border-bottom: 4px solid #c70101;
}
.framework{
  float:left;
  width:30px;
  height:30px;
  position: relative;
  left: -10px;
}
/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      color: #ffffff;
      background-color: transparent;
      border-bottom: 4px solid #e14eca;
  } */
.active-route {
  color: #ffffff;
  background-color: transparent;
  border-bottom: 4px solid #e14eca;
}
